.header {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.formRow {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    height: 177px;
    width: 935px;
    left: 473px;
    top: 242px;
    background-color: #DBEAFF;
}


.formBox {
    width: 100px;
    margin-top: 50px;
    margin-left: 15px;
}

.formPart {
    width: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-left: 50px;
}

.submit {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 90px;
    gap: 10px;

    margin-left: 450px;
    margin-top: 70px;
    width: 230px;
    height: 48px;
    left: 600px;
    top: 489px;

    background: #1F62BF;
    border-radius: 5px;
    color: white;
}