.col {
    display: flex;
    flex-direction: column;
}

.leftcol {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.login button {
    background-color:  white;
    border-color: #00B1FF;
    border-width: 2px;
    border-style: solid;
    margin-right: 4%;
}

.login .registerButton {
  color: red;
  border-width: 0px;
}

.login button p {
  text-decoration: underline;
}

.top {
    margin-top: 10vh;
    width: 100%;
}

.space{
    margin-top: 17%;
}
.blue {
    background-color:  white;
    border-color: #00B1FF;
    border-width: 2px;
    border-style: solid;
}


.red {
    text-decoration: underline;
    color: red;
  border-width: 0px;
  background-color: transparent;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
}