.col {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
}

.bigcol {
    margin: 0 50px;

}

.city {
    display: flex;
    flex-direction: column;
    margin-right: 4px;
}

.state {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.row {
    display: flex;
    flex-direction: row;
}
.leftcol {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 50px;
}

.login button {
    background-color:  white;
    border-color: #00B1FF;
    border-width: 2px;
    border-style: solid;
}

.login .registerButton {
  color: red;
  border-width: 0px;
}

.login button p {
  text-decoration: underline;
}

.fix {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#grey {
    background-color:  #F4F4F4;
}

.top {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.space{
    margin-top: 2%;
}
.blue {
    background-color:  white;
    border-color: #00B1FF;
    border-width: 2px;
    border-style: solid;
}


.red {
    text-decoration: underline;
    color: red;
  border-width: 0px;
  background-color: transparent;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
