table {
    border: 1px solid black;
    width: 90%;
    border-collapse: collapse;
    font-size: 12px;
    overflow: hidden;
    table-layout: fixed;
  }
    
  th {
    border: 1px solid black;
    background: #404759;
    color: white;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 3px;
    padding-top:5px;
    padding-bottom:5px;
  }
    
  td {
    text-align: center;
    border: 1px solid black;
    padding-top:5px;
    padding-bottom:5px;
  }

@font-face {
    font-family: Hartwell;
    src: url(../assets/HartwellRegular.otf);
  }

.container {
    margin-left: 5%;
  }

.head {
    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 1000;
    font-size: 40px;
    color: #000000;
    margin-left: 5%;
    
}

@font-face {
  font-family: Hartwell;
  src: url(../assets/HartwellBold.otf);
  font-weight: bold;
}

.wrapper {
  margin-top: 3%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 30% 30%;
}

.title {
  font-weight: bold;
}

.status {
  float: left;
  padding-right:2%;
}

.statusChildInProgress {
  height: 36px;
  width: 124px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: #FFEEC2;
  color: #AC7D03;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
}

.statusChildFulfilled {
  height: 36px;
  width: 124px;
  background: #E1EFE7;
  color: #4C8865;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  display: flex;
}

.row {
  margin-left: 5%;
  margin-bottom:1%;
  align-items:center;
  width: 90%;
  height:100%;
  display:flex;
}


.printform {
  background-color:  #C4C4C4;
  border:transparent;
  margin-left:700%;
}

.notes{
  border-color:#C4C4C4;
  border-width:2px;
  border-style: solid;
  padding:1%;
  width: 90%;
  margin-top:1%;
}

.space{
  padding-top:5%;
}