table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    table-layout: fixed;

  }
    
  th {
    border: 1px solid black;
    background: #AEECFF;
  }
    
  td {
    text-align: center;
    border: 1px solid black;
  }

  @font-face {
    font-family: Hartwell;
    src: url(../assets/HartwellRegular.otf);
  }
  
  @font-face {
    font-family: Hartwell;
    src: url(../assets/HartwellBold.otf);
    font-weight: bold;
  }

/* body {
    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;

    color: #000000;

     text-align: 'left';
    padding-left: '30%';
    padding-right: '30%'; 
} */

h1 {
    font-size: 40px;
}

label {
    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-count: 2;
    flex: 1 2 auto;
}

.column {
    float: left;
    padding: 10px;
  }
  
.left {
    width: 35%;
}

.right {
    display: flex;
    float: right;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
 }

 input{
    border:1px solid #000000;
    padding:2px 2px;
}

.full {
    width: 95%;
}

.half {
    width: 90%;
}
  
.leftColumn {
    height: 100%;
}

.rightColumn {
    height: 100%;
}
  
.space {
    height: 10px;
}

.flexContainer {
    display: flex;
    width: 100%;
}
  
.flexChild.label {
    width: 50%;
} 

.cardBox {


}

.orderHistory {
    background: rgba(229, 229, 229, 0.5);
    padding-left: 15%;
    padding-right: 15%;
}

.orderText {
    text-align: left;
    font-size: 36px;
    font-family: Hartwell;
    font-weight: bold;
    padding: 1%;
}