.dashboardComponent {
    max-width: 700px;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
    border-radius: 20px;

}

.orderDashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-left: 10px;
    margin-right: 10px;
}

.orderDashboardTable {
    background-color: #F3F3F3;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;

    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #313131;

    border-spacing: 5px;
}

.adminDashboardH2 {
    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    /* identical to box height */
    color: #000000;
}
  
.orderTableTHead {
    border-bottom: 2px solid black;
}
.orderTableTR {
    border-bottom: 0.25px solid #000000;

}

.orderTableData {
    height: 50px;
    width: 100px;
    justify-content: center;
}

.incompleteBox {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: #FFA73E;
    border-radius: 31px;
    height: 25px;
    width: 80px
}

.LinkStyles { 
    text-decoration: none;

    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #24275E;
}