.stfLogo {
    max-width: 210px;
    /* height: auto; */
    padding-top: 100%;
    padding-left: 20px;
    padding-right: 20px;

  }

  .sidebar {
    overflow-x: hidden;     /* Disable horizontal scroll */
    display: flex;
    flex-direction: column;
    width: fit-content;
    background: #24275E;
    z-index: 1;
    color: white;
  }