.main {
    margin-top: 1.5%;
    padding: 2%;
    background-color: #F9F9F9;   
    border-radius: 20px;
}

form {
    display: inline;
    padding: 5px;
}

.record {
    display: flex;
    margin: 0 3% 2.5% 3%;
    border-bottom: 1px solid black;
    justify-content: space-between;
    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    font-family: 'Hartwell';
    font-style: semibold;
    font-size: 18px;
    position: relative;
}

.interval-header {
    display: flex;
    padding-left: 1.5%;
    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.chevron {
    /* margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}